.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VeryDarkBlue);
}

.card {
  max-width: 400px;
  width: 100%;
  border-radius: 2.4rem;
  padding: 3rem 2.4rem;
  background-color: var(--DarkBlue);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media screen and (max-width: 345px) {
  .card {
    padding: 3rem 1.8rem;
  }
}

.card-star {
  width: 5rem;
  height: 5rem;
  background-color: var(--DarkBlue2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.card-title {
  color: var(--White);
  margin-bottom: 1.5rem;
}

.card-description {
  color: var(--MediumGrey);
  line-height: 1.5;
  margin-bottom: 3rem;
}

.card-form {
  width: 100%;
}

.card-form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.card-form-input {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.card-form-input label {
  background-color: var(--DarkBlue2);
  color: var(--MediumGrey);
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding-top: 0.55rem;
  transition: all 0.2s ease-in-out 0.1s;
}

.card-form-input label:hover {
  color: var(--White);
  background-color: var(--MediumGrey);
}

[type='radio']:checked ~ label {
  background-color: var(--Orange);
  color: var(--White);
}

.btn {
  border: 0;
  outline: 0;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 1.5rem 0 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-primary {
  background-color: var(--Orange);
  color: var(--White);
  transition: all 0.2s ease-in-out 0.1s;
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--Orange);
  background-color: var(--White);
}

.btn-primary:disabled {
  cursor: not-allowed;
  background-color: var(--Orange);
  color: var(--White);
}

.card-state2 {
  text-align: center;
}

.card-illustration {
  margin-bottom: 2rem;
}

.card-rating-block {
  background-color: var(--DarkBlue2);
  padding: 1rem 2.5rem;
  width: max-content;
  margin: 0 auto 3rem;
  border-radius: 50px;
}

.card-rating-text {
  color: var(--Orange);
}

.card-greeting {
  color: var(--White);
  margin-bottom: 1.5rem;
}

.card-message {
  color: var(--MediumGrey);
  line-height: 1.5;
}

@media screen and (max-width: 450px) {
  .card {
    width: 90%;
  }
}
